.box {
    width: 100px;
    height: 100px;
    background-color: red;
    border: 1px solid black;
    animation: change 5s infinite alternate;
    /* animation-name: change;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
}

@keyframes change {
    0% {
        background-color: red;
        transform: rotate(0deg);
    }

    15% {
        background-color: orange;
    }

    30% {
        background-color: yellow;
    }

    45% {
        background-color: green;
    }

    60% {
        background-color: blue;
    }

    80% {
        background-color: navy;
    }

    100% {
        background-color: purple;
        transform: rotate(360deg);
    }
}