#flex_box {
    height: 200px;
    border: 1px solid black;
    display: flex;
    flex-direction: column; /* row row-inverse column column-inverse */
}

.flex_item {
    margin: 1px;
    background-color: red;
    width: 100px;
    height: 100px;
}
.box1 {
    order: 1;
}
.box2 {
    order: 2;
}
.box3 {
    order: 3;
}