* {
    margin: 0px;
    padding: 0px;
    font-size: 12px;
}

section {
    width: 200px;
    height: 200px;
    background-color: #ededed;
    margin: 50px;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
}

.box1 {
    transform: skewX(-30deg);
    transition: 1s;
}

.box2 {
    transform: skewY(-30deg);
    transition: 1s;
}