.container {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: cadetblue;
    margin: 10px;
}

.bds1 {
    border: solid 10px;
}

.bds2 {
    border: solid 20px;
}

.bdd3 {
    border: dotted 3px;
}

.bdds4 {
    border: dashed 4px;
}

/* .bd5 {
    border-top: solid 3px red;
    border-right: dotted 5px yellow;
    border-bottom: double 5px red;
    border-left: dashed 10px yellow;
} */

.bd5 {
    border-style: solid dotted double dashed;
    border-width: 3px 5px 5px 10px;
    border-color: red yellow; 
}

.bd6 {
    border: 10px solid pink;
    border-radius: 10% 20% 30% 40%;
}