.box1 {
    /* float: left; */
    position: relative; /* static 기준점으로 위치를 변경 가능 */
    top: 30px;
    left: 100px;
    width: 100px;
    padding: 20px;
    margin-right: 10px;
    background-color: gold;
}

.box2 {
    /* float: left; */
    width: 300px;
    padding: 20px;
    background-color: darkcyan;
}